.row{
	
}
.color{
	-webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}
.color:hover{
	transform: rotate(180deg);
}
}
.color:nth-child(2n){
	background-color: peru;
}
.module:nth-child(2){
background-color: yellow;
}
